version: 1.0

deploy:
  # configuration part, which is taken at the FIRST deployment of each branch
  bootstrap:
    # folders that are not copied to IONOS webspace
    excludes:
      - .git
      - .github
      - .gitignore
      - .env.example
      - tests
      - node_modules
      - frontend
      - backend
      - deploy
      - access.log.current
      - DOCKER_ENV
      - docker_tag
      - output.log
      - Dockerfile-php-build
      - .template-renderer-data
    # commands that are executed at the real webspace NOT at build servers AFTER copying new files
    post-deployment-remote-commands:
      - find $(pwd) -type f -not -path "$(pwd)/logs/*" -exec chmod 664 {} \;
      - find $(pwd) -type d -not -name "logs" -exec chmod 775 {} \;
      - chmod -R o+w storage bootstrap/cache
      - php8.2-cli artisan migrate --force || php8.1-cli artisan migrate --force || true
      - php8.2-cli artisan optimize:clear || php8.1-cli artisan optimize:clear || true
      - php8.2-cli artisan migrate --force -n || php8.1-cli artisan migrate --force -n || true
      - php8.2-cli artisan storage:link || php8.1-cli artisan storage:link || true
      - php8.2-cli artisan optimize || php8.1-cli artisan optimize || true
      - php8.2-cli artisan up || php8.1-cli artisan up || true

  # configuration part, which is taken at ALL FURTHER deployments of this branch
  recurring:
    # folders that are not copied to IONOS webspace
    excludes:
      - .git
      - .github
      - .gitignore
      - .env.example
      - tests
      - node_modules
      - frontend
      - backend
      - deploy
      - access.log.current
      - DOCKER_ENV
      - docker_tag
      - output.log
      - Dockerfile-php-build
      - .template-renderer-data
      - storage
      - .env
      - bootstrap/cache
    # commands that are executed at the real webspace NOT at build servers BEFORE copying new files
    pre-deployment-remote-commands:
      - php8.2-cli artisan down || php8.1-cli artisan down || true
    # commands that are executed at the real webspace NOT at build servers AFTER copying new files
    post-deployment-remote-commands:
      - find $(pwd) -type f -not -path "$(pwd)/logs/*" -exec chmod 664 {} \;
      - find $(pwd) -type d -not -name "logs" -exec chmod 775 {} \;
      - chmod -R o+w storage bootstrap/cache
      - php8.2-cli artisan migrate --force || php8.1-cli artisan migrate --force || true
      - php8.2-cli artisan optimize:clear || php8.1-cli artisan optimize:clear || true
      - php8.2-cli artisan migrate --force -n || php8.1-cli artisan migrate --force -n || true
      - php8.2-cli artisan storage:link || php8.1-cli artisan storage:link || true
      - php8.2-cli artisan optimize || php8.1-cli artisan optimize || true
      - php8.2-cli artisan up || php8.1-cli artisan up || true

# uncomment the following lines to configure cron jobs
#runtime:
#  cron-jobs:
#    - command: my-cron-job-command # the deployment is located at $HOME/htdocs/ to execute a deployed script just prefix it accordingly
#      schedule: 0 5 * * * # run every day at 5:00
