# IONOS Deploy Now Configuration for Laravel
# Based on: https://github.com/ionos-deploy-now/laravel-starter/blob/main/.deploy-now/config.yaml
# https://docs.ionos.space/docs/deployment-configuration/

version: 1.0
deploy:
  # comment in one of the following lines to force the use of the recurring or bootstrap configuration
  #  force: recurring
  #  force: bootstrap

  # configure the initial deployment of each branch
  bootstrap:
    # directories that are not overwritten or removed by the next deployment
    excludes:
      - .git
      - .github
      - .gitignore
      - .env.example
      - tests
      - node_modules
      - frontend
      - backend
      - deploy
      - access.log.current
      # the following files are generated during composer action and are not necessary
      - DOCKER_ENV
      - docker_tag
      - output.log
      - Dockerfile-php-build
      - .template-renderer-data

    # commands that are executed on the runtime after new files are copied
    post-deployment-remote-commands:
      # set right file permissions for Laravel
      - find $(pwd) -type f -not -path "$(pwd)/logs/*" -exec chmod 664 {} \;
      - find $(pwd) -type d -not -name "logs" -exec chmod 775 {} \;
      - chmod -R o+w storage bootstrap/cache
      # migrate database, clear caches, migrate database, link storage, warmup caches
      - php8.2-cli artisan migrate --force || php8.1-cli artisan migrate --force || true
      - php8.2-cli artisan optimize:clear || php8.1-cli artisan optimize:clear || true
      - php8.2-cli artisan migrate --force -n || php8.1-cli artisan migrate --force -n || true
      - php8.2-cli artisan storage:link || php8.1-cli artisan storage:link || true
      - php8.2-cli artisan optimize || php8.1-cli artisan optimize || true
      - php8.2-cli artisan up || php8.1-cli artisan up || true

  # configure all following deployments of each branch
  recurring:
    # directories that are not overwritten or removed by the next deployment
    excludes:
      - .git
      - .github
      - .gitignore
      - .env.example
      - tests
      - node_modules
      - frontend
      - backend
      - deploy
      - access.log.current
      - DOCKER_ENV
      - docker_tag
      - output.log
      - Dockerfile-php-build
      - .template-renderer-data
      # the storage folder shouldn't be synced after first deployment, because there
      # are files inside from running the Laravel app (e.g. database)
      - storage
      - .env
      - bootstrap/cache

    # commands that are executed on the runtime before new files are copied
    pre-deployment-remote-commands:
      - php8.2-cli artisan down || php8.1-cli artisan down || true

    # commands that are executed on the runtime after new files are copied
    post-deployment-remote-commands:
      - find $(pwd) -type f -not -path "$(pwd)/logs/*" -exec chmod 664 {} \;
      - find $(pwd) -type d -not -name "logs" -exec chmod 775 {} \;
      - chmod -R o+w storage bootstrap/cache
      - php8.2-cli artisan migrate --force || php8.1-cli artisan migrate --force || true
      - php8.2-cli artisan optimize:clear || php8.1-cli artisan optimize:clear || true
      - php8.2-cli artisan migrate --force -n || php8.1-cli artisan migrate --force -n || true
      - php8.2-cli artisan storage:link || php8.1-cli artisan storage:link || true
      - php8.2-cli artisan optimize || php8.1-cli artisan optimize || true
      - php8.2-cli artisan up || php8.1-cli artisan up || true
