# IONOS Deploy Now Configuration
# https://docs.ionos.space/docs/deployment-configuration/
# 
# Note: Version field removed - will be set automatically by IONOS Deploy Now
# when project is recreated with PHP Package template

